<h3>Comments:</h3>
    <div id="comments">
      <% if @comments.blank? %>
        <%= "Soyez le premier à réagir à cet article " %>
      <% else %>
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= render 'comments/new_comment', article: @article, comment: @comment %>
    </div>
