.article-container {
  // width: 71%;
}
.article-title {
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  font-size: 30px;
  margin-top: 22px;
  color: #28a72e7d;
}

.author {
  font-family: 'Heebor', sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  color: #818182b8;
}

.article-content {
  margin: 21px 0px;
  font-family: 'Heebor', sans-serif;
  letter-spacing: 1px;
}

.article-source {
  font-family: 'Heebor', sans-serif;
  letter-spacing: 1px;
}

.cloudinary-image {
  width: 100%;
}
