
<%= link_to article_likes_path(@article), method: :post, remote: true do %>
  <div class='like-btn'>
    <i class='fas fa-heart like-btn-icon'></i>
    <div class="like-btn-icon"><%= @article.likes.size %></div>
  </div>
<% end %>
