<%= render 'shared/banner' %>
<div class="container">

  <h2>Tous les articles:</h2>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-sm-12 col-md-4">
        <%= render 'article', article: article %>
      </div>
    <% end %>
  </div>
</div>
