.voted {
  background-color: red;
}

.article-card {
  border: solid ;
  border-color: #6AB74D;
  border-radius: 6px;
  border-width: 0.7px;
  margin-bottom: 4%;
  display: flex;
  height: 45vh;
}

.article-card-right {
  padding: 2% 0;
  width: 84%;
  margin-left: 3%;
}

.article-card-left {
  width: 16vh;
  background-color: #6AB74D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px 0px 0px 4px;
}

.article-title-text {
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  font-size: 18px;

}

.article-title {
 margin-bottom: 5px;
 height: 18%;
 overflow: hidden;
}

.article-title-text:hover {
  text-decoration: none;
  color: grey;
}

.article-tagline {
  font-family: 'Heebo', serif;
  font-size: 18px;
  overflow: hidden;
  height: 181px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}



.article-author {
  font-style: italic;
}

.article-source {
  font-style: italic;
}

.article-card-bottom {
  margin-top: 1.5%;
}
.tags-container {
  display: flex;
  align-items: flex-start;
}

.tag {
  border: solid;
  border-width: 0.7px;
  border-color: #D7D7D7;
  border-radius: 5px;
  background-color: #D7D7D7;
  margin-right: 12px;
  padding: 8px;
}
