.banner-index {
  background-image: url('https://images.unsplash.com/photo-1501856054482-8b7fbff7b3fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
  padding: 224px 0px;
  h2 {
    color: white;
    text-align: center;
    font-size: 82px;

  }
  p {
    color: white;
    text-align: center;
    font-size: 40px;
  }
}
