// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "preview_article";
@import "banner";
@import "tag";
@import "like_btn";
@import "social_footer";

@media (min-width: 1200px){
  #content {
      max-width: 1300px;
  }
}

a {
  text-decoration: none!important;
}

a:hover {
  text-decoration: none!important;
}
